/**
 *** CSS Indexing ***
 * THEME DEFAULT CSS
 * RESET CSS
 * HEADER AREA CSS
 * HERO AREA CSS
 * portfolio AREA CSS
 * video AREA CSS
 * news AREA CSS
 * footer AREA CSS
 * Movie details PAGE CSS
 * seat plan PAGE CSS
 * login PAGE CSS
 * blog PAGE CSS
 * blog details PAGE CSS
 * PRELOADER CSS
**/

/*----------------------------------
--------- THEME DEFAULT CSS --------
----------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900');
body {
    line-height: 24px;
    font-size: 14px;
    color: #b6b7b9;
	background: #13151f;
	font-family: 'Poppins', sans-serif;
    font-weight: 400;
    position: relative;
}
div ul li{
}

.plot-div {
    width: 100%;
    height: auto;
    max-height: 50px;
    display: block;
    padding: 10px;
    overflow: hidden;
    transition: max-height 200ms linear;
}
.plot-div.is-active{
    max-height: 300px;
}

#movieInformation {
    position: absolute;
    top: 50px;
    right: 250px;
    border: 1px solid #CC1F12;
    background: #109C03;
    width: 20%;
    border-radius: 2px;
    z-index: 100;
}
#like, #dislike {
    display: block;
    text-align: center;
    background: #ed2553;
    border-radius: 3px;
    box-shadow: 0 10px 20px -8px rgb(240, 75, 113);
    margin: 10px 5px;
    padding: 5px 15px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    width: 95px;
    height: 30px;
}
    #like:hover, #dislike:hover {
        transform: translateY(-3px);
    }
    #like:disabled, #dislike:disabled {
        cursor: default;
        opacity: 0.5;
    }
        #like:disabled:hover, #dislike:disabled:hover {
            transform: none;
        }

.likeDisLikeButtons button{
    float: left
}
#go-to-btn {
    display: block;
    text-align: center;
    background: #ed2553;
    border-radius: 3px;
    box-shadow: 0 10px 20px -8px rgb(240, 75, 113);
    margin: 10px;
    padding: 5px 25px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
#go-to-btn:hover {
    transform: translateY(-3px);
}

.list-group {
    z-index: 100;
    text-align: center;
    background: #343a40;
}
.list-group a{
    border: 2px solid black;
    font-size: 18px;
    padding: 10px;
}
.list-group img {
    padding: 2px;
    float: right;
    max-height: 75px;
}



/*----------------------------
---------- RESET CSS ---------
----------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h4 {
    font-size: 18px;
}
h6 {
    font-size: 14px;
}
a {
    transition: 0.6s;
}
a,
a:hover {
    color: #fff;
}
img {
    max-width: 100%;
    height: auto;
}
iframe {
    width: 100%;
    border: none;
}
a,
a:hover,
a:focus,
a:active,
button:focus {
    text-decoration: none;
    border: none;
    outline: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ol {
    margin-bottom: 0;
}
select:focus,
select:active {
    box-shadow: none;
    border: 0;
    outline: 0
}
input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}
button{
    cursor: pointer;
}
textarea {
	height: 160px;
}
input[type="text"],
input[type="submit"],
button[type="submit"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="password"],
input[type="number"],
textarea {
    background: #24262d;
    width: 100%;
    padding: 8px 15px;
    border: none;
}
input[type="submit"],
button[type="submit"] {
    width: auto;
    color: #666;
    padding: 4px 15px;
}
textarea:focus {
    outline: none !important;
    box-shadow: none !important;
}
.section-title h1 i {
    color: #fece50;
	font-size: 40px;
	margin-right: 5px;
}
.mt-100 {
    margin-top: 100px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-20 {
    margin-top: 20px;
}
.pt-60 {
	padding-top: 60px;
}
.pb-90 {
	padding-bottom: 90px;
}
.pb-20 {
	padding-bottom: 20px;
}
.ptb-100 {
    padding: 100px 0;
}
.ptb-90 {
    padding: 90px 0;
}
.owl-nav div {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 35px;
    background: #fff;
    color: #000;
    height: 35px;
    line-height: 36px;
    border-radius: 100%;
    text-align: center;
    font-size: 29px;
    transition: 0.4s;
    margin-top: -60px;
}
.owl-nav div:hover {
    background: #000;
    color: #fff;
}
.owl-nav div.owl-next {
    right: 20px;
    left: auto;
}
.owl-dots {
    text-align: center;
    margin-top: 35px;
}
.owl-dot {
    width: 20px;
    height: 6px;
	border-radius: 5px;
    background: #595a5f;
    display: inline-block;
    margin: 0 5px;
}
.owl-dot.active {
    width: 28px;
    background: #eb315a;
}
.display-table {
    display: table;
    height: 100%;
    width: 100%;
}
.display-tablecell {
    display: table-cell;
    vertical-align: middle;
}
.theme-btn {
	background: #eb315a;
    border: 1px solid #eb315a;
    color: #fff;
	border-radius: 35px;
    padding: 5px 25px;
    display: inline-block;
    font-size: 16px;
	cursor: pointer;
	font-weight: 500;
}
.theme-btn:hover {
    border: 1px solid #eb315a;
	background: transparent;
    color: #eb315a;
}
.theme-btn2:hover,
.theme-btn2 {
    color: #fff;
	background: #963dad; /* Old browsers */
	background: -moz-linear-gradient(top, #963dad 0%, #9c3db1 34%, #ba3fc4 65%, #c340ca 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #963dad 0%,#9c3db1 34%,#ba3fc4 65%,#c340ca 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #963dad 0%,#9c3db1 34%,#ba3fc4 65%,#c340ca 100%); 
	border: none;
}
.flexbox-center {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
textarea,
input,
textarea::-webkit-input-placeholder ,
input::-webkit-input-placeholder {
    color: #fff;
}

/*--------------------------------------
-------- HEADER AREA CSS START --------
---------------------------------------*/
.header {
	padding: 18px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}
.header-area {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(12,1fr);
    align-items: center;
    grid-gap: 20px;
}
.logo {
    grid-column: span 2;
    padding-right: 15px;
}
.header-right {
    grid-column: span 10;
    text-align: right;
    z-index:1000;
}

.menu-area {
    grid-column: span 10;
}
.mainmenu {
    text-align: right;
    z-index: 2000;
}
.mainmenu li {
    display: inline-block;
	position: relative;
}
.mainmenu li a:not(.theme-btn) {
    display: inline-block;
	margin-right: 30px;
	padding: 3px 0;
}
.slicknav_menu {
	padding: 0;
    background: transparent;
}
.mainmenu {
    display: block;
}
.slicknav_menu {
	display: none;
}
.header.sticky {
	border-bottom: 1px solid #fff;
	background: #000;
}
.mainmenu li:hover ul {
    transform: scaleY(1);
}
.mainmenu li ul li {
	display: block;
}
.mainmenu li ul {
    position: absolute;
    top: 100%;
    background: #000;
    padding: 5px 15px;
    left: 0;
    text-align: left;
    min-width: 200px;
    transform: scaleY(0);
    transition: all 0.4s;
}
.mainmenu li a.active, .mainmenu li a:hover {
    color: #eb315a;
}
.header-right form {
    max-width: 350px;
    max-height: 40px;
    border: 1px solid #eee;
    border-radius: 30px;
    margin-left: auto;
    z-index: 1000;
}
.header-right form button {
    background: transparent;
    color: #fff;
    border: none;
    padding-right: 10px;
}
option {
	color: #000;
}
.header-right form select {
    background: url('../img/select-icon.png') no-repeat right center;
    padding: 0 20px 0 30px;
    border: none;
	-moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.header-right form input {
    text-align: center;
    opacity: 0.7;
    width: 75%;
	background: transparent;
    border: none;
    margin: 0;
    margin-left: 20px;

}

.header-right ul li a:hover {
	color: #eb315a;
}
.header-right ul li {
    padding: 8px 0 0;
    display: flex;
}
/*--------------------------------------
--------- HEADER AREA CSS END ---------
---------------------------------------*/

/*----------------------------------
-------- HERO AREA CSS START -------
------------------------------------*/
.hero-area {
    position: relative;
    background-image: url('../img/hero-area.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.hero-area-slide {
    background: #13151f;
    margin: 320px 15px 50px;
    padding-top: 52px;
    box-shadow: 0 0 20px #000000;
}

.hero-area-content > img {
    position: relative;
    margin-top: -120px;
}
.hero-area-slider {
	margin: auto;
	max-width: 950px;
}

.author-review {
    color: #fece50;
    float: left;
}

.review h4 {
    padding-left: 25px;
    overflow: hidden;
}

.review {
    margin: 8px 0 35px;
}

.hero-area-content h3 {
    margin-top: 35px;
}

.single-slide-cast {
    width: 11.5%;
	margin-right: 1%;
	float: left;
    margin-top: 15px;
}

.single-slide-cast img {
    border-radius: 100%;
}

.single-slide-cast.text-center {
    height: 45px;
    line-height: 45px;
    border-radius: 100%;
    max-width: 45px;
    border: 2px solid #eb315a;
    color: #eb315a;
}
.pr-50 {
	padding-right: 10px;
	margin-left: -15px;
}
.slide-trailor {
    overflow: hidden;
    margin-top: 40px;
}

.slide-cast {
    overflow: hidden;
}

.slide-trailor h3 {
    float: left;
    margin: 0;
    margin-right: 25px;
}
.hero-area-thumb .hero-area-slide {
	margin: 0 15px;
}
.thumb-prev {
    position: absolute;
    bottom: 0;
    left: -690px;
    max-width: 950px;
    -webkit-perspective: 80px;
    perspective: 80px;
}
.thumb-prev .hero-area-slide {
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(2deg);
    transform-style: preserve-3d;
    transform: rotateY(2deg);
    cursor: pointer;
}
.thumb-next {
    position: absolute;
    bottom: 0;
    right: -690px;
    max-width: 950px;
    -webkit-perspective: 80px;
    perspective: 80px;
}
.thumb-next .hero-area-slide {
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(-2deg);
    transform-style: preserve-3d;
    transform: rotateY(-2deg);
    cursor: pointer;
}
/*----------------------------------
--------- HERO AREA CSS END --------
-----------------------------------*/

/*----------------------------------
-------- portfolio AREA CSS START -------
------------------------------------*/
hr {
	margin: 0;
	border-top: 1px solid #ddd;
}
.portfolio-menu {
	padding-top: 30px;
}

.portfolio-menu li {
    display: inline-block;
    position: relative;
    margin-left: 15px;
    padding-bottom: 20px;
    cursor: pointer;
}

.portfolio-menu li::before {
    background: transparent;
    bottom: -2px;
    left: 0;
    right: 0;
    transition: 0.4s;
    content: "";
    height: 4px;
    position: absolute;
    z-index: 99;
}

.portfolio-menu li.active {
    color: #fff;
}

.portfolio-menu li.active::before,.portfolio-menu li:hover::before {
    background: #eb315a;
}
.portfolio-content h2 {
    margin-top: 20px;
}

.single-portfolio {
    margin-top: 50px;
}
.video-area,
.single-portfolio-img {
	overflow: hidden;
	position: relative;
}
.single-portfolio-img:hover .popup-youtube i {
	opacity: 1;
}
.single-portfolio-img .popup-youtube i {
	opacity: 0;
}
.video-area img,
.single-portfolio-img img {
	transition: 0.9s;
}
.video-area:hover img,
.single-portfolio:hover img {
	transform: scale(1.2);
}
.single-portfolio .review {
    margin-bottom: 0;
}

.portfolio-sidebar img {
    margin-top: 30px;
	border-radius: 10px;
}

.portfolio-sidebar {
    margin-top: 20px;
}
/*----------------------------------
--------- portfolio AREA CSS END --------
-----------------------------------*/

/*----------------------------------
-------- news AREA CSS START -------
------------------------------------*/

.news-date {
	position: absolute;
	left: 20px;
	top: 0;
	background: #f09819; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #f09819 0%, #ef8128 34%, #ec474c 64%, #eb315a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #f09819 0%,#ef8128 34%,#ec474c 64%,#eb315a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #f09819 0%,#ef8128 34%,#ec474c 64%,#eb315a 100%);
	padding: 10px;
    opacity: 0.95;
}
.news-date h2 span {
	font-size: 16px;
}

/*----------------------------------
--------- footer AREA CSS START --------
-----------------------------------*/
.footer {
	background: url('../img/footer-bg.png') no-repeat bottom center / cover;
    position: relative;
	padding: 90px 0 30px;
}
.footer::before {
    position: absolute;
    background: #13151f;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.9;
}
.widget h4,.widget img {
    margin-bottom: 40px;
}

.widget ul li {
    margin-top: 15px;
}

.widget h6 {
    margin-top: 18px;
}

.widget {
    margin-bottom: 40px;
}

.widget button {
    background: transparent;
    color: #eb315a;
    border: none;
    padding: 0;
}

.widget form {
    margin-top: 25px;
}
.copyright {
    padding-top: 25px;
}
/*----------------------------------
--------- footer AREA CSS END --------
-----------------------------------*/

/*----------------------------------
---- Movie details PAGE CSS START ----
------------------------------------*/
.breadcrumb-area {
    position: relative;
    background-image: url('../img/breadcrumb.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	padding: 280px 0 200px;
}
.breadcrumb-area-content {
	text-align: center;
}
.breadcrumb-area-content h1 {
	font-size: 60px;
}
.transformers-box {
    padding: 35px;
    box-shadow: 0 0 20px #000000;
    position: relative;
}

.transformers-box .transformers-content img {
    display: block;
    position: relative;
}

.transformers-content p {
    display: block;
    position: relative;
    
}
.transformers-content .likeDisLikeButtons {
    display: inline-block;
}
.transformers-content > h2 + a.theme-btn {
    margin: 12px 10px 20px 0;
}

.transformers-content > p::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    top: 0;
    width: 55px;
    height: 2px;
    margin: auto;
    background: #eb315a;
}

.transformers-left {
    float: none;
    color: #eb315a;
    min-width: 100px;
}

.transformers-content ul li {
    float: none;
    margin-top: 12px;
    font-weight: 300;
}

.transformers-right .theme-btn {
    margin: 0 8px;
	padding: 2px 15px;
}

.transformers-bottom {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.transformers-bottom span {
    display: block;
    color: #eb315a;
}

.transformers-bottom p {
    margin-bottom: 8px;
}
.transformers-box > .theme-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 5px 0 0;
}

.details-content >div {
    margin-top: 30px;
}

.details-content {
    padding-top: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 50px;
}

.details-content >div h2 {
    margin-bottom: 20px;
}

.details-overview h2 {
    position: relative;
    padding-bottom: 10px;
}

.details-overview h2::before {
    position: absolute;
    bottom: -2px;
    left: 0;
    background: #eb315a;
    content: "";
    width: 50px;
    height: 2px;
}
.select-container {
    position: relative;
    margin-bottom: 30px;
}
.textarea-container {
    position: relative;
}
.textarea-container button {
	color: #fff;
	background: transparent;
	font-size: 20px;
	border: none;
}
.textarea-container button,
.select-container i {
    position: absolute;
    right: 15px;
    bottom: 12px;
    margin: auto;
}
.details-comment {
    display: flex;
    align-items: center;
}

.details-comment a {
    flex: 1;
	text-align: center;
}

.details-comment p {
    flex: 5;
    margin-left: 25px;
}

.details-thumb > div {
    padding-top: 20px;
    display: flex;
    width: 50%;
}

.thumb-icon {
    width: 45px;
    font-size: 45px;
}

.thumb-text {
	flex: 5;
}

.details-thumb {
    display: flex;
}

.details-thumb > div h4,
.details-thumb > div i {
	transition: 0.4s;
}
.details-thumb > div:hover h4,
.details-thumb > div:hover i {
	color: #eb315a
}
.details-thumb-next {
    text-align: right;
}

.thumb-text h4 {
    margin-bottom: 2px;
}
/*----------------------------------
----- Movie details PAGE CSS END ----
-----------------------------------*/
