@model IEnumerable<CmdbDto >
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-area-content">
                        <h1>Movies Page</h1>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- breadcrumb area end -->
    <!-- portfolio section start -->
    <section class="portfolio-area pt-60">
        <div class="container">

            @foreach (var movie in Model)
            {
                <p>@Html.DisplayFor(item => movie.ImdbId)</p>
                <p>Likes:@Html.DisplayFor(item => movie.NumberOfLikes) Dislikes: @Html.DisplayFor(item => movie.NumberOfDislikes) </p>
                <br />
            }
        </div>
    </section><!-- portfolio section end -->    