<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CMDb - Cineastic Movie Database</title>
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="all" />
    <!-- Slick nav CSS -->
    <link rel="stylesheet" type="text/css" href="/css/slicknav.min.css" media="all" />
    <!-- Iconfont CSS -->
    <link rel="stylesheet" type="text/css" href="/css/icofont.css" media="all" />
    <!-- Owl carousel CSS -->
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">    
    <!-- Main style CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" type="text/css" href="/css/responsive.css" media="all" />
    
</head>

<body>


    <!-- header section start -->
    <header class="header">
        <div class="container">
            <div class="header-area">
                <div class="logo">
                    <a href="/"><img src="/img/cmdbLogo.png" alt="logo" /></a>
                </div>
                <div class="header-right">
                    <form action="javascript:searchMovie()">
                        <input id="txt" type="text" placeholder="Search movie" onkeyup="searchMovie()" />
                        <button type="submit"><i class="icofont icofont-search"></i></button>
                        <br />
                        <div class="list-group">

                        </div>
                    </form>
                </div>
                <div class="menu-area">
                    <div class="responsive-menu"></div>
                    <div class="mainmenu">
                        <ul id="primary-menu">
                            <li><a asp-action="Index" asp-controller="Home" id="homeLink">Home</a></li>
                            <li><a asp-action="Index" asp-controller="Movie" id="movieLink">Movie</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
            <!-- header section end -->

    @RenderBody()


    <!-- footer section start -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg3 col-sm-6">
                    <div class="widget">
                        <img src="/img/cmdbLogo.png" alt="about" />
                        <p>7th Harley Place, London W1G 8LZ United Kingdom</p>
                        <h6><span>Call us: </span>(+880) 111 222 3456</h6>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="widget">
                        <h4>Legal</h4>
                        <ul>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Security</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="widget">
                        <h4>Newsletter</h4>
                        <p>Subscribe to our newsletter system now to get latest news from us.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your email.." />
                            <button>SUBSCRIBE NOW</button>
                        </form>
                    </div>
                </div>
            </div>
            <hr />
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-left">
                        <div class="copyright-content">
                            <p>&copy; Copyright - Fredrik and Tobbe</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- footer section end -->


    <script src="~/js/LikeDisLike.js"></script>
    <script src="~/js/SearchBar.js"></script>

    @RenderSection("Scripts", required: false)

    <!-- jquery main JS -->
    <script src="/js/jquery.min.js"></script>
    <!-- Slick nav JS -->
    <script src="/js/jquery.slicknav.min.js"></script>
    <!-- owl carousel JS -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- main JS -->
    <script src="/js/main.js"></script>
</body>

</html>




